@{
    ViewBag.Title = "About";
    ViewBag.Navigation = "about";
}

<section>
    <div class="hero-unit pagination-centered">
        <h1>BrewBuddy</h1>
        <p>BrewBuddy is the homebrewer's ideal companion. We track your brew from recipe to bottling.</p>
    </div>

    <article>
        <h2>Built for Community Day 2012</h2>
        <p>
            <a href="http://blog.maartenballiauw.be">Maarten Balliauw</a> and <a href="http://www.kefalidis.me">Panagiotis Kefalidis</a>
            built BrewBuddy as a demo for <a href="http://www.communityday.be">Community Day 2012</a>.
        </p>
            <p>
                The technologies used to build BrewBuddy:
                <ul>
                    <li><a href="http://www.windowsazure.com">Windows Azure</a></li>
                    <li><a href="http://www.windowsazure.com">SQL Azure</a></li>
                    <li><a href="http://www.windowsazure.com">Windows Azure Websites</a></li>
                    <li><a href="http://www.windowsazure.com">Windows Azure Service Bus</a></li>
                    <li><a href="http://www.windowsazure.com">Windows Azure Access Control Service</a></li>
                    <li><a href="http://www.asp.net/mvc">ASP.NET MVC 4</a></li>
                    <li><a href="http://www.asp.net/mvc">ASP.NET Web API</a></li>
                    <li><a href="http://www.jquery.com">jQuery</a></li>
                    <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
                    <li><a href="http://www.nuget.org">A handful of NuGet packages</a></li>
                </ul>
            </p>
    </article>
</section>