@{
    ViewBag.Title = "Contact";
    ViewBag.Navigation = "contact";
}

<section>
    <div class="page-header">
        <h1>@ViewBag.Title <small>Want to get in touch with your BrewBuddy?</small></h1>
    </div>
</section>

<article>
    <h2>Get in touch</h2>
    <p>
        Feel free to contact <a href="http://blog.maartenballiauw.be">Maarten Balliauw</a> or <a href="http://www.kefalidis.me">Panagiotis Kefalidis</a> through their blog.
    </p>
</article>