@{
    ViewBag.Title = "Index";
}

<h2>Connect to BrewBuddy</h2>
<p>
    In order to be able to view your recipes, you will have to connect to <a href="http://www.brewbuddy.net">BrewBuddy</a>.
    <br /><br />
    @Html.ActionLink("Click here to connect", "Connect")
</p>
